
.h1-color-scheme{
    color: white
}



.login-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: #37333d9a;
    box-shadow: 0 0 15px 3px rgba(140, 50, 195, 0.7); /* brillo */
    color: white;
}

.fit-content{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

.login-color-config{
    background-color: #000;
}

.login-button
{
    background-color: #323256;
    margin-bottom: 5%;
    color: white;
    border-radius: 5%;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.login-button:hover{
        box-shadow: 0 0 15px 3px rgba(140, 50, 195, 0.7); /* brillo */
        background-color: #4a42a8;

}
