/* Sidebar.css */

.sidebar {
  position: fixed; /* Se mantiene fija en la pantalla */
  top: 50%; /* Alinea su borde superior al centro de la pantalla */
  left: 0; /* Se pega al borde izquierdo */
  transform: translateY(-50%); /* La mueve hacia arriba la mitad de su propia altura, quedando centrada */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 1rem 0;
  background-color: rgba(70, 40, 70, 0.5);
  border-radius: 5px;
  transition: transform 0.3s ease;
  z-index: 1000;

  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}
.sidebar a {
  color: white;
  margin: 1rem 0;
  font-size: 1.5rem; /* tamaño del icono */
  position: fixed;
  top: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #8c32c3; /* color con brillo */
  text-shadow: 0 0 10px #8c32c3;
}

/* Tooltip que aparece al hacer hover */

.sidebar a::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  background: #8c32c3;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
}

.sidebar a:hover::after {
  opacity: 1;
  pointer-events: auto;
}