.app-layout {
     display: flex;
     justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
}

.sidebar-order {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar.collapsed {
  transform: translate(-100%, -50%);
  transition: 1s ease;

}

.sidebar-order.collapsed .toggle-btn {
  left: 0.5rem;
}

.toggle-btn {
  position: fixed;
  top: 15px;
  left: 70px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #00000086;
  color: #c86dff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: left 1s ease, transform 1s ease;
}

.sidebar {
  position: fixed; /* Se mantiene fija en la pantalla */
  top: 50%; /* Alinea su borde superior al centro de la pantalla */
  left: 0; /* Se pega al borde izquierdo */
  transform: translateY( -50%); /* La mueve hacia arriba la mitad de su propia altura, quedando centrada */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 1rem 0;
  background-color: rgba(70, 40, 70, 0.5);
  border-radius: 5px;
  transition: transform 1s ease;
  z-index: 1000;

  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.sidebar a,
.sidebar .logout-button {
  font-size: 1.5rem;
  position: relative;      /* tamaño fijo para los iconos */
  width: 48px;
  height: 48px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background 1s, color 1s;
  border-radius: 12px;
}


.sidebar a::after {
  content: attr(data-tooltip);
  position: absolute;
  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
  background-color: #8b32c325;  
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  font-size: 0.9rem;
  z-index: 5;
}

.sidebar a:hover::after {
  opacity: 1;
  pointer-events: auto;
}

.main-content {
  flex-grow: 1;
  max-width: 1440px;
  margin-left: clamp(3.5rem, 4vw, 6rem);
  overflow-y: auto;
  padding: 20px;
}

.sidebar {
  background-color: #00000086; /* o rgba(0,0,0,0.7) si quieres transparencia */
  transition: all 1 ease;
}

.sidebar a:hover {
  color: #ffd700;
    filter: drop-shadow(0 0 10px #ffd700) drop-shadow(0 0 10px #ffd700);
  transition: filter 0.5s ease;
}

.sidebar a.active {

  color: #8c32c3;
  filter: drop-shadow(0 0 5px #8c32c3) drop-shadow(0 0 10px #8c32c3);
  transition: filter 0.5s ease;
}

.logout-button:hover{
  color: red;
  transition-duration: 1s;

}
