@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  width: 100%;
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Merriweather_Sans);
  --font-title: var(--font-Playfair_Display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base{
  p{
    @apply 
          font-sans 
          text-base
          p-2;

  }
  label{
    @apply 
          font-sans
          p-2;
  }

  h1,h2,h3,h4,h5{
    @apply font-title;
  }
  button{
    @apply 
        bg-neutral-800
          hover:bg-slate-950 
          transition-colors 
          duration-200 
          rounded-2xl 
          m-2
          p-2;
  }
  input{
    @apply 
        bg-neutral-800 
        focus:bg-slate-950
        focus:ring-cyan-500 
          transition-colors 
          duration-200 
          rounded-2xl 
          px-3 
          py-1.5;

  }
}


body {
  background: var(--background);
  color: var(--foreground);
  height: 100%;
  width: 100%;
}
